<% title t '.title' %>

<div class="form-actions">
	<%= link_to t('helpers.links.list'), admin_pairings_path,
  :class => 'btn' %>
</div>

<%= render :partial => 'form2', :locals => {:url_path_form => edit_combined_admin_pairing_path(:id => params[:id])} %>

