<% title t('.title') %>


<% if I18n.locale == :en %>
<h2>Discover, Explore, Compare</h2>

<p>
Photo History is an application created by JumpStart Georgia which allows you to discover, explore and compare old and new faces of different places, districts, regions, cities and countries. 
</p>
<p>
Using the slide bar, you can drag the photos overlapping each other so that you can see how places, buildings, statues, nature or people have changed from the past to the present. 
</p>
<p>
You can share your observations and discoveries with us using the comment section below every picture. 
</p>
<p>
At the moment the photo history website only has Tbilisi photos. However, JumpStart Georgia plans to widen the scope of the project and add photos from all over Georgia.
</p>
<p>
You too can participate in adding to the Photo History. Wherever you are in the world, in or out of Georgia, if you have old pictures sitting in your closet, scan them, take new pictures of the same area and send them to us. Giving you the credit, we will publish them on the Photo History application and share them with the world. 
</p>
<p>
If you have any other ideas, comments or questions, please, get in touch: 
</p>
<p>
<%= mail_to "info@jumpstart.ge", nil, :encode => "hex", :subject => t('.email_subject'), :title => t('.email_title')%>
<br />
+ 995 032 214 29 26
<br />
5, Shevchenko St, Apt 2, 0108, Tbilisi, Georgia 
</p>

<% else %>

<h2>აღმოაჩინე, გამოიკვლიე, შეადარე</h2>

<p>
ფოტო ისტორია JumpStart Georgia-ს მიერ შექმნილი აპლიკაციაა, რომელიც საშუალებას გაძლევთ, აღმოაჩინოთ, გამოიკვლიოთ და შეადაროთ სხვადასხვა ადგილის, რაიონის, რეგიონის, ქალაქისა თუ ქვეყნის ძველი და ახალი სახეები. 
</p>
<p>
ფოტოს “სახელურის” გამოყენებით, თქვენ შეგიძლიათ, სურათები ისე ამოძრაოთ, რომ დაინახოთ, როგორ შეიცვალნენ ადამიანები, ადგილები, შენობები, ქანდაკებები და ბუნება წარსულიდან დღევანდელობამდე.  
</p>
<p>
თქვენი დაკვირვებები და აღმოჩენები კი შეგიძლიათ გაგვიზიაროთ თითოეული ფოტოს ქვემოთ განთავსებული კომენტარის ველის საშუალებით. 
</p>
<p>
ამ დროისათვის ფოტო ისტორიის ვებგვერდი მხოლოდ თბილისის ფოტოებს მოიცავს. თუმცა JumpStart Georgia გეგმავს, პროექტის მასშტაბი გააფართოოს და აპლიკაციას დაამატოს სურათები მთელი საქართველოდან. 
</p>
<p>
შენც შეგიძლია, მიიღო მონაწილეობა ფოტო ისტორიის შექმნაში. სადაც უნდა იყო, საქართველოში თუ მის ფარგლებს გარეთ, თუკი გაქვს ძველი ფოტო, გადაიღე იმავე ადგილის შესაბამისი ახალი სურათი და გამოგვიგზავნე. საავტორო უფლებების დაცვით, ჩვენ მათ ფოტო ისტორიის საიტზე გამოვაქვეყნებთ და მთელ მსოფლიოს გავუზიარებთ. 
</p>
<p>
თუ გაქვს რაიმე სხვა იდეა, კომენტარი ან შეკითხვა, შეგვეხმიანე: 
</p>
<p>
<%= mail_to "info@jumpstart.ge", nil, :encode => "hex", :subject => t('.email_subject'), :title => t('.email_title')%>
<br />
+995 032 214 29 26
<br />
შევჩენკოს ქუჩა, 5, ბინა 2, 0108, თბილისი, საქართველო
</p>

<% end %>
