<% title t('.title') %>


<% if I18n.locale == :en %>
<h2>Listen! See! Say!</h2>

<p>
Speaking Stones is a tool by JumpStart Georgia which allows you to explore, compare, and engage in the old and new faces of different places, districts, regions, cities,  and countries.
</p>
<p>
Using the slide bar, you can drag the photos overlapping each other so that you can see how places, buildings, statues, nature, or people have changed over time.
</p>
<p>
You can share your observations and discoveries with us using the comment section below every picture.
</p>
<p>
At the moment, Speaking Stones only has photos from Tbilisi. However, JumpStart Georgia plans to widen the scope of the project and add photos from all over Georgia, and maybe beyond.
</p>
<p>
You, too, can participate in making Speaking Stones better for everyone. Wherever you are in the world, in or out of Georgia, if you have old pictures sitting in your closet, scan them, take new pictures of the same area and send them to us. Giving you the credit, we will add their story to Speaking Stones and share them with the world.
</p>
<p>
If you have any other ideas, comments, or questions, please, give us a shout at:
</p>
<p>
<%= mail_to "info@jumpstart.ge", nil, :encode => "hex", :subject => t('.email_subject'), :title => t('.email_title')%>
<br />
+ 995 032 214 29 26
<br />
5, Shevchenko St, Apt 2
<br />
Tbilisi, Georgia 0108
</p>

<% else %>

<h2>მოუსმინე! დაინახე! თქვი!</h2>

<p>
“ქვათა ღაღადი” JumpStart Georgia-ს მიერ შექმნილი ონლაინ აპლიკაციაა, რომელიც საშუალებას გაძლევთ, აღმოაჩინოთ, გამოიკვლიოთ და შეადაროთ სხვადასხვა ადგილის, რაიონის, რეგიონის, ქალაქისა თუ ქვეყნის ძველი და ახალი სახეები. 
</p>
<p>
ფოტოს “სახელურის” გამოყენებით, თქვენ შეძლებთ სურათების ისე დათვალიერებას, რომ დაინახავთ, როგორ შეიცვალნენ ადამიანები, ადგილები, შენობები, ქანდაკებები და ბუნება წარსულიდან დღევანდელობამდე.  
</p>
<p>
თქვენი დაკვირვებები და აღმოჩენები კი შეგიძლიათ გაგვიზიაროთ თითოეული ფოტოს ქვემოთ განთავსებული კომენტარის ველის საშუალებით. 
</p>
<p>
ამ დროისათვის “ქვათა ღაღადი” მხოლოდ თბილისის ფოტოებს მოიცავს. თუმცა JumpStart Georgia გეგმავს, პროექტის მასშტაბი გააფართოოს და აპლიკაციას დაამატოს სურათები მთელი საქართველოდან და მსოფლიოდანაც კი. 
</p>
<p>
შენც შეგიძლია, მიიღო მონაწილეობა “ქვათა ღაღადის” გაუმჯობესებაში. სადაც უნდა იყო, საქართველოში თუ მის ფარგლებს გარეთ, თუკი გაქვს ძველი ფოტო, გადაიღე იმავე ადგილის შესაბამისი ახალი სურათი და გამოგვიგზავნე. საავტორო უფლებების დაცვით, ჩვენ მათ საიტზე გამოვაქვეყნებთ და მთელ მსოფლიოს გავუზიარებთ. 
</p>
<p>
თუ გაქვს რაიმე სხვა იდეა, კომენტარი ან კითხვა, შეგვეხმიანე:

<p>
<%= mail_to "info@jumpstart.ge", nil, :encode => "hex", :subject => t('.email_subject'), :title => t('.email_title'), :style => "color: #348BE8;" %>
<br />
+995 032 214 29 26
<br />
შევჩენკოს ქუჩა, 5, ბინა 2
<br />
თბილისი, საქართველო 0108
</p>

<% end %>
