<% page_title_only @pairing.title.titleize.html_safe if @pairing.present? %>
<% @title_year1 = @pairing.image_file1.year_formatted if @pairing.present? && @pairing.image_file1_id.present? %>
<% @title_year2 = @pairing.image_file2.year_formatted if @pairing.present? && @pairing.image_file2_id.present? %>

<%= render :partial => 'shared/draggable_images' %>

<% if @pairing.present? %>
  <div style="display: none;">
    <%= image_tag @pairing.thumbnail.url(false) %>
    <%= image_tag @pairing.stacked_img.url(false) %>
  </div>
<% end %>
